.banner {
  overflow: unset !important;
  margin-bottom: rem(100px);
}

.banner-image {
  height: rem(400px);

  @media (max-width: $mantine-breakpoint-md) {
    height: rem(300px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: rem(200px);
  }
}

.hashtag-list {
  width: 100%;
  overflow-x: scroll;
}

.hashtag {
  min-width: fit-content;
  cursor: pointer;

  span {
    text-overflow: unset;
    overflow: visible;
  }
}

.info {
  gap: rem(10px);
  left: rem(50px);
  width: rem(600px);
  min-height: rem(100px);

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    left: rem(0px);
    min-height: rem(50px);
  }
}
