.card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.card {
  min-width: 300px;
  flex-basis: 33%;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 12px;
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;

  @media (max-width: $mantine-breakpoint-md) {
    flex-basis: 49.6%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    flex-basis: 100%;
  }
}
