.h2 {
  margin-bottom: rem(30px);

  @media (max-width: $mantine-breakpoint-sm) {
    --title-fw: var(--mantine-h3-font-weight) !important;
    --title-lh: var(--mantine-h3-line-height) !important;
    --title-fz: var(--mantine-h3-font-size) !important;
    margin-bottom: rem(10px);
  }
}

.h3 {
  margin-top: rem(20px);
  margin-bottom: rem(20px);

  @media (max-width: $mantine-breakpoint-sm) {
    --title-fw: var(--mantine-h4-font-weight) !important;
    --title-lh: var(--mantine-h4-line-height) !important;
    --title-fz: var(--mantine-h4-font-size) !important;
    margin-top: rem(10px);
    margin-bottom: rem(10px);
  }
}

.h2-divider {
  margin-top: rem(30px);
  margin-bottom: rem(30px);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: rem(10px);
    margin-bottom: rem(10px);
  }
}

.p {
  margin-top: rem(5px);
  margin-bottom: rem(5px);
  line-height: var(--mantine-line-height-lg);
}

.code {
  font-weight: 500;
  color: var(--mantine-color-gray-9);
}

.blockquote {
  margin-top: rem(30px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding: rem(20px);
    margin-top: rem(20px);
  }
}

.pre {
  border-radius: var(--mantine-radius-lg);
  font-size: var(--mantine-font-size-md);

  .code {
    --code-bg: transparent !important;
    font-size: var(--mantine-font-size-md);
    color: var(--mantine-color-white);

    * {
      font-size: var(--mantine-font-size-md);
    }
  }
}

.ul {
  @media (max-width: $mantine-breakpoint-xs) {
    padding-left: rem(10px);
  }
}

.list-item-wrapper {
  padding-right: rem(20px);
}
