.banner {
  overflow: unset !important;
  margin-bottom: rem(100px);
}

.banner-image {
  height: rem(400px);

  @media (max-width: $mantine-breakpoint-md) {
    height: rem(300px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    height: rem(200px);
  }
}
