.root {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: rem(90px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(60px);
    padding-left: rem(15px);
    padding-right: rem(15px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: rem(30px);
    padding-left: rem(10px);
    padding-right: rem(10px);
  }
}

.container {
  max-width: 768px;
  width: 100%;
  flex: 1 1 auto;
}
